## Data discovery

In [1]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
# Using pyvo we download the data from Jacobs VO service
import pyvo as vo

In [2]:
service = vo.dal.TAPService("http://epn2.epn-vespa.jacobs-university.de/tap")
mytables = iter(service.tables)
for tab in mytables:
        print(tab)
#service.describe()

crism.epn_core
crism_dev.epn_core
ivoa.emptyobscore
ivoa.obscore
m3.epn_core
mars_craters.epn_core
mars_craters_dev.epn_core
mars_craters_lagain.epn_core
op_mars_feat.epn_core
pangaea_x_2017.epn_core
sebastian.epn_core
tap_schema.schemas
tap_schema.tables
tap_schema.columns
tap_schema.keys
tap_schema.groups
tap_schema.key_columns
usgs_wms.epn_core

In [13]:
resultset = service.search("SELECT Radius,type,status,lrd_morph FROM mars_craters_dev.epn_core WHERE NOT (type='5')", maxrec=400000)

DALQueryError: Field query: No such field known: column u'radius' could not be located in table metadata

In [11]:
df = (resultset.to_table()).to_pandas()
sns.set()
df.head()
#sns.pairplot(df, hue='type', height=1.5);

   radius    type        status lrd_morph
0   800.0  b'4.0'  b'Secondary'       b''
1   800.0  b'4.0'  b'Secondary'       b''
2   800.0  b'4.0'  b'Secondary'       b''
3   800.0  b'4.0'  b'Secondary'       b''
4   800.0  b'4.0'  b'Secondary'       b''